@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";

    ViewData["Title"] = "Home Page";
    
}


<a class="centered" asp-action="Menu">
    <img src="~/images/banners/logo.png" />
</a>

<style>
    .centered {
        position: fixed;
        top: 50%;
       left: 50%;
        transform: translate(-50%, -50%);
    }
</style>


