@model IEnumerable<MotoGP.Models.Race>
@{
    ViewData["Title"] = "Races on map";
}
<img src="~/images/banners/map.png" usemap="#racesmap"/>

<map name="racesmap">
    @foreach (Race race in Model)
    {
        <a asp-action="ShowRace"  asp-route-id="@race.RaceID">
                <area shape="circle" coords="@race.X,@race.Y,20"/>
        </a>
        
    }

</map>